extends layout

block content
  h1= title
  - let result=results  
    div(class="row")
      each form,index in result
        div(class = "col-sm-2" onclick=`buy(${index})`) #{form.Brand}- #{form.Flavour}- #{form.Cost}
    script.

      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }