extends layout

block content
  h1= title
  - let Teas=results
  - let destinationcreate = `dispatchCreate(\"/Tea/create\")`
  div(class="container-fluid")
   button.btn( class="btn-primary ml-1 btn-lg", onclick= destinationcreate) Create
  div(class="row m-1")
    each Tea,index in Teas
      - let destinationupdate = `dispatch(\"/Tea/update?id=${Tea._id}\")`
      -let destinationdetail =   `dispatch(\"/Tea/detail?id=${Tea._id}\")`
      - let destinationdelete = `dispatchDelete(\"/Tea/delete?id=${Tea._id}\")`
        div(class="col-sm-4  m-1" style=("font-weight:bolder")) #{Tea.Brand} - #{Tea.Flavour} - #{Tea.Cost}
          button.btn( class="btn-success ml-1", onclick= destinationdetail) Detail
          button.btn( class="btn-info ml-1", onclick= destinationupdate) Update
          button.btn( class="btn-secondary ml-1", onclick= destinationdelete) Delete
  script.
      function dispatch(path){
      window.location.href=path
      }
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
      function dispatchCreate(path){
        window.location.href=path
      }
      function dispatchDelete(path){
        window.location.href=path
      }